/* Icon styles and utilities */
.icon {
  font-family: 'Icons';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Add specific icon classes here as needed */
.icon-home:before { content: "\e900"; }
.icon-user:before { content: "\e901"; }
.icon-settings:before { content: "\e902"; }



